<template>
    <div class = "input_box">
        <label>Введите текст для озвучки:</label>
        <el-input
        v-model="textInput"
        :rows="6"
        type="textarea"
        resize = "none"
        placeholder="Текст для озвучивания:"
        maxlength = "249"
       />
       <div class="bttn_accept">
       <el-button
        @click = "acceptText"
        size = "large"
        >
        Озвучить
       </el-button>
       </div>
    </div>
        <div class = "audio_player">
       <audio controls :src="formatedAudioUrl"></audio>
       </div>
    
    
</template>

<script>
import { useAudioStore } from '../stores/audio'
import { ElMessage } from 'element-plus'
    export default {
        data(){
            return{
               textInput: " ",
               audioStore: useAudioStore()
            }
        },
        computed:{
            formatedAudioUrl(){
                return `http://demo.telminov.ru:8090${this.audioStore.audioUrl}`;
            }
        },
        methods:{
            async acceptText(){
               const {isSuccess} = await this.audioStore.sendText(this.textInput)
               if (isSuccess)
                    ElMessage.success('Текст озвучен!')
                else
                    ElMessage.error('Заполните поле!')
            }
        }
    }

</script>

<style scoped>
label{
    font-size: 1.5em;
    letter-spacing:2px;
}
.input_box{
    padding-right:65px;
    margin-top:130px;
    width:430px;
    height:300px;
}
.bttn_accept{
display:flex;
justify-content: center;
align-items: flex-end;
margin-top:50px;
}

.audio_player{
padding-left:30px;
}
</style>