*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'comic CAT', sans-serif;
}
  @font-face {
    font-family:"comic CAT";
    font-style: bold;
    font-weight:400;
    src: url('./src/assets/fonts/Comic_CAT.otf')
  }

body{
    color: #53a7ff;
		background-attachment:fixed;
		background-repeat:no-repeat;
    background-color: #bae7fc;
    background-position: center center;
    backdrop-filter: blur(2px)
    
}
.App{
  padding: 20px;
  
}

.page{
display:flex;
justify-content: center;
height:930px;
}

.container{
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  margin-top: 50px;
  padding-top:50px;
  height:800px;
  width: 500px; 
}

h1{
  font-size: 2.5em;
  letter-spacing:3px;
  font-family:"comic CAT";
  padding-top:40px;
  padding-right:55px;
}
